body{
background-color: black;
}

#board{
padding:2px;
border: white solid 5px;
margin:30px;

}

h1{
color: red;
font-size: 75px;
text-align: center;
align-items: center;
justify-content: center;


}
img{
    width:685px;
    height:400px
}

#restart,#start{
color:red;
justify-content: center;
align-items:center;
margin:auto;
display:flex;
border-radius:30%;



}

#restart{
padding:15px 35px;
}

#start{
padding:15px 25px;
}

title{

}