body{
background-color: #212124;
}

#canvas{
border: white solid 5px;
margin:auto;
align-items:center;
justify-content:center;
display:flex;
width:550px;
height:400px;
background-image: url('https://i.ibb.co/Pmr3mJ4/gamebackground.png');


}

h1{
color: #5757eb;
font-size: 75px;
text-align: center;
align-items: center;
justify-content: center;


}

#player{
    background-image: url('');
}

